:root {
    
    --roasted-espresso: #2B1A12;
    --dark-cocoa: #3E2723;
    --mocha-blend: #5D4037;
    --caramel-drizzle: #C57B57;
    --brown-sugar: #A97458;
    --hazelnut-cream: #F5E9DD;
    --vanilla-foam: #FFF6EE;
    --mocha-mist: #EBDCCF;
    --gold-rich: #D6A461;
    --gold-soft: #E8C9A1;
    --berry-compote: #8A3F52;
    --text-dark: #2B1A12;
    --text-light: #FAF9F6;
    --background-light: #FFF8F3;
    --matcha-light: #E8F3D8;  
    --matcha-cream: #F4FAEC;  
    --matcha-rich: #A8C97F;   
    --matcha-deep: #7CA152;   
}