* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Slabo 27px", serif;
    line-height: 1.6;
    background-color: #faf7f2;
    color: #3a2c25;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    padding: 80px 0;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #c7ad96; 
}


.section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}