@import './reset.css';

/* Fonts */
.meddon-regular {
  font-family: "Meddon", cursive;
  font-weight: 400;
  font-style: normal;
}

.slabo-27px-regular {
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
}
